/* Write your styles */
body{font-family: -apple-system,SF UI Display,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;  }
table code {white-space: inherit;}
.am-u-sm-4.am-list-thumb{max-height: 20rem;}
.blog-content * {max-width: 100%;}
li.hover a {color: #0e90d2;}
a:visited {color: #888;}
.am-u-md-6 {overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
@media only screen and (max-width: 640px){.intro{display: none} .am-list-news.am-u-md-6.am-no-layout{padding: 0}}
@media only screen and (min-width: 641px) { .blog-sidebar { font-size: 1.4rem; } }
/*@media only screen and (min-width: 1200px) { .blog-g-fixed {  max-width: 1200px;  }  }*/
.lazyload,.lazyloading {opacity: .4;}
.lazyloaded {opacity: 1;transition: opacity 300ms;}
.blog-footer {padding: 10px 0;text-align: center;background-color: #f8f8f8;border-width: 1px 0 0;border-style: solid;border-color: #ddd;}
.cnzz {display: inline;}
.police {background: url(http://www.jishux.com/images/icon-police.png) 0 0 no-repeat;display: inline-block;width: 14px;height: 16px;margin-right: 6px;}
.am-list .am-list-item-desced a, .am-list .am-list-item-thumbed a{  font-weight: 700; color: #333;}
.am-list .am-list-item-desced a:hover, .am-list .am-list-item-thumbed a:hover{color: #337ab7;}
.am-g.am-g-fixed.blog-g-fixed {  padding-top: 1rem;  }
.place_holder{
    animation: loading 1s ease-in-out -.5s infinite;
    -webkit-animation: loading 1s ease-in-out -.5s infinite;
}
.place_holder2{
    width: 40%;
    animation: shortLoading 1s ease-in-out infinite;
    -webkit-animation: shortLoading 1s ease-in-out infinite;
}
li.am-g.am-list-item-desced.am-list-item-thumbed.am-list-item-thumb-left {  margin-bottom: -1px;  background-color: #fff;  border: solid rgba(178,186,194,.15);  border-width: 1px 0;  }

@keyframes loading{0%{width:60%}50%{width:100%}to{width:60%}}
@-webkit-keyframes loading{0%{width:60%}50%{width:100%}to{width:60%}}
@keyframes shortLoading{0%{width:20%}50%{width:40%}to{width:20%}}
@-webkit-keyframes shortLoading{0%{width:20%}50%{width:40%}to{width:20%}}
